/* 1. General Styles */

.hidden {
    display: none;
}

body {
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
    max-width: 1200px;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

/* 2. Nav */

.header-nav {
    height: 120px;
    background-color: pink;
    padding-left: 30px;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.logo {
    display: flex;
    justify-content: center;
}

.header-logo {
    max-width: 200px;
    transition: all 0.5s ease-in-out;
}

.header-logo:hover {
    opacity: 75%;
}

/*.header-logo:hover {
    padding-top: 10px;
    padding-bottom: 13px;
    border-top: 3px solid white;
}*/

nav ul {
    list-style-type: none;
    display: none;
}

nav ul li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

nav ul li:first-of-type {
    border-left: none;
}

nav ul li a:hover {
    text-decoration: underline;
    color: white;
}

.menu-icon {
    position: absolute;
    right: 10px;
    top: 20px;
    height: 110px;
}

/* 3. Index */

#video {
    height: 378px;
    background-color: bisque;
} 

#video-title {
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#fanshawe-video {
    font-weight: bold;
}

#home-img {
    height: 378px;
    background-color: cadetblue;
}

#industry_title {
    font-size: 50px;
    font-weight: bold;
}

#date-details {
    background-color: azure;
    padding-bottom: 33px;
    border-bottom: 5px solid black;
}

#about-program { 
    margin-top: 50px;
    background-color: red;
}

#about-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

#learn-more {
    height: 40px;
    border: 3px solid white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#line {
    border: 1px solid black;
    margin-top: 20px;
    width: 390px;
    top: 200px;
}

#content-1 {
    width: 390px;
    height: 114px;
    background-color: darkgrey;
}

#content-2 {
    width: 390px;
    height: 72px;
    background-color: darkgrey;
}

#image {
    background-color: aqua;
    height: 378px;
    margin-top: 40px;
}

#feature-links {
    height: 200px;
    background-color: orange;
    padding-top: 20px;
}

#client-work-index, #student-work-index {
    text-align: center;
}

/* 4. Client Projects */

#hero-con {
    margin-top: 33px;
    height: 378px;
    background-color: yellow;
    margin-bottom: 33px;
}

#client-projects {
    height: 200px;
    background-color: orange;
    margin-bottom: 33px;
}

#project-examples {
    background-color: blue;
    height: 1200px;
    margin-bottom: 33px;
}

#image_1, #image_2, #image_3 {
    height: 378px;
    background-color: red;
}

/* 5. Student Work */

#hero-student {
    height: 200px;
    margin-top: 33px;
    margin-bottom: 33px;
    background-color: green;
}

#student-work, #portfolio-links {
    height: 100px;
    margin-bottom: 33px;
}

#student-work {
    background-color: magenta;
}

#portfolio-links {
    background-color: maroon;
}

/* 6. Footer */

footer {
    height: 140px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    /* justify-items: center; */
}

.footer-logo {
    position: absolute;
    left: 50px;
    top: 25px;
    transition: all 0.5s ease-in-out;
}

.footer-logo:hover {
    opacity: 75%;
}

.logo-footer {
    height: 60px;
}

.triangle {
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 30px solid #555;
    margin-right: 10px;
}

.top-icon a {
    display: flex;
    align-items: center;
}

/* 7. Media Queries */


@media screen and (min-width: 768px) {
    nav ul {
        display: block;
    }

    .nav_menu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .menu-icon{ 
        display: none;
    } 

    #post-1{
        width: 964px;
    }

    #line {
        width: 964px;
    }

    #content-1 {
        width: 1200px; 
        height: 150px;
    }

    #content-2 {
        display: none;
    }

    #project-examples {
        height: 400px;
        flex-direction: row;
    }

    #date-details {
        border-bottom: none;
    }

}
