/* 1. General Styles */

.hidden {
    display: none;
}

body {
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
    max-width: 1200px;
}

a {
    text-decoration: none;
    color: #E2231A;
}

a:visited {
    color: #E2231A;
}

.header-logo {
    max-height: 47px;
}

ul li a {
    font-family: 'Gothic', 'Montserrat', 'Figtree', 'Arial', sans-serif;
    color: #E2231A;
    font-weight: bold;
}

ul li a:visited {
    color: #E2231A;
}

h3 {
    font-size: 26px;
    font-family: 'Gothic', 'Montserrat', 'Figtree', 'Arial', sans-serif;
    color: #ffffff;
}

p {
    font-family: 'Gothic', 'Montserrat', 'Figtree', 'Arial', sans-serif;
    line-height: 1.25;
}

/* 2. Nav */

header {
    display: flex;
    align-items: center;
}

.header-nav {
    padding-left: 30px;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.logo {
    display: flex;
    justify-content: center;
}

.header-logo {
    max-width: 200px;
    transition: all 0.5s ease-in-out;
}

.header-logo:hover {
    opacity: 75%;
}

.hamburger-icon {
    height: 70px;
}

nav ul {
    margin-top: 0;
    list-style-type: none;
    display: none;
}

nav ul li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

nav ul li:first-of-type {
    border-left: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.menu-icon {
    display: flex;
    justify-content: space-around;
    transition: transform 0.3s ease-in-out;
}

.menu-icon.rotate {
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
}

.mobile-menu {
    background-color: white;
}

.mobile-menu li {
    list-style: none;
    margin-bottom: 15px;
    border-bottom: 1px solid #E2231A;
    color: #E2231A;
    display: none;
    font-size: 22px;
}

.mobile-menu li a:hover {
    color: #B3272D;
}

/* 3. Index */

#video {
    height: 378px;
    background-color: bisque;
    margin-bottom: 27px;
} 

#video-title {
    font-size: 24px;
    line-height: 1.25;
}

#fanshawe-video {
    font-size: 42px;
    font-weight: bold;
}

#industry-photo {
    margin-bottom: 15px;
}

#industry-title {
    font-size: 50px;
    font-weight: bold;
    background-color: #E2231A;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#industry-description {
    margin-bottom: 31px;
}

#date-details {
    color: white;
    background-color: #B3272D;
    line-height: 1.25;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 18px;
}

#show-schedule {
    display: flex;
    flex-direction: row;
    border: 5px solid #E2231A;
    border-radius: 5px;
    text-align: center;
    color: #E2231A;
    font-weight: bold;
    text-align: center;
    justify-content: space-evenly;
    margin-bottom: 22px;
    cursor: pointer;
}

#show-schedule p {
    padding-top: 10px;
    padding-bottom: 10px;
}

#schedule {
    background-color: #B3272D;
    border: 1px solid #B3272D;
    border-radius: 8px;
    padding: 10px;
    color: white;
    line-height: 1.25;
    display: none;
}

#map-mobile {
    display: flex;
    justify-self: center;
}

#map-desktop {
    display: none;
}

#about-program { 
    margin-top: 50px;
    margin-bottom: 10px;
}

#about-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    background-color: #E2231A;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#about-desc {
    padding: 15px;
    color: white;
    background-color: #646469;
    border-radius: 5px;
}

#learn-more {
    border: 5px solid #E2231A;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #E2231A;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 27px;
}

#index-line {
    border-bottom: 2px solid;
    margin-bottom: 28px;
}

#line {
    border: 1px solid black;
    margin-top: 20px;
    width: 390px;
    top: 200px;
}

#image {
    background-color: aqua;
    height: 378px;
    margin-top: 40px;
}

#feature-links {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#client-work-index, #student-work-index {
    text-align: center;
    background-color: #B3272D;
    border-radius: 5px;
    margin-bottom: 30px;
    color: white;
    height: 260px;
    width: 280px;
}

#client-work-index img, #student-work-index img {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

#client-work-index h3, #student-work-index h3 {
    margin-bottom: 15px;
    font-weight: bold;
}

#client-work-index p, #student-work-index p {
    padding-left: 10px;
    padding-right: 10px;
}

/* 4. Client Projects */

#hero-con {
    margin-top: 33px;
    height: 378px;
    background-image: url(../images/meeting.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 33px;
}

#client-title {
    font-size: 26px;
    font-weight: bold;
    line-height: 2;
}

#title-2024 {
    font-size: 36px;
    background-color: #E2231A;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#project-desc {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-left: 33px;
    padding-right: 33px;
    margin-bottom: 21px;
}

#client-projects {
    height: 320px;
    border: 3px solid #B3272D;
    border-radius: 16px;
    margin-bottom: 33px;
}

#project-examples {
    margin-bottom: 33px;
}

#first-work, #second-work, #third-work {
    margin-bottom: 43px;
}

#first-work img, #second-work img, #third-work img {
    margin-bottom: 30px;
}

.project-description-text {
    color: black;
}

#testimonials {
    text-align: center;
    color: #E2231A;
}

.client-arrows {
    color: #E2231A;
    display: flex;
    align-items: center;
    font-size: 58px;
}

#client-arrow-right {
    justify-content: flex-end;
}

.slide {
    align-items: center;
}

.arrow {
    width: 50px;
    height: 112px;
}

.footer-line {
    border-bottom: 10px solid #B3272D;
}

#divider-client {
    border-bottom: 5px solid #B3272D;
    margin-bottom: 34px;
}

/* 5. Student Page */

#stu-work-img {
    height: 378px;
    background-image: url(../images/student-hero.png);
    background-position: center;
    margin-bottom: 55px;
}

#student-hero-heading {
    color: white;
    font-size: 22px;
    line-height: 2;
}

#hero-bold {
    font-size: 26px;
    font-weight: bold;
}

.stu-w-p-title {
    color: white;
    text-align: center;
}

.stu-w-p-title h3 {
    background-color: #E2231A;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.stu-w-p-title p {
    color: black;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 25px;
}

.show-w-btn {
    background-color: white;
    border: 5px solid #E2231A;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    cursor: pointer;
}

.show-w-btn p {
    color: #E2231A; 
    font-weight: bold;
    font-size: 18px;
}

.work-text {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    color: #E2231A;
}

#stu-examples-row-1, #stu-examples-row-2 {
    margin-bottom: 30px;
    display: none;
}

.example-images {
    margin-bottom: 20px;
}

#stu-por-list-con {
    margin-bottom: 30px;
}

#stu-por-list-con a {
    display: none;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 5px;
}

#stu-por-list-con a:hover {
    text-decoration: underline;
}

.name-column {
    text-align: center;
    background-color: #B3272D;
}

#year-selector {
    display: none;
    flex-direction: row;
    background-color: #B3272D;
    color: white;
    justify-content: space-evenly;
    margin-bottom: 20px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.year:hover {
    text-decoration: underline;
    cursor: pointer;
}

#so-icon-con{
    background-color: #B3272D;
}

#so-icon-con h3 {
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 26px;
    font-weight: bold;
}

#software-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.sot-boxes img {
    max-height: 100px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/* 6. Footer */

.nav-line {
    border-bottom: 10px solid #B3272D;
}

footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

footer img {
    margin-top: 30px;
    width: 99px;
    height: 79px;
    
}

/* 7. Lightboxes */

#lightbox-client {
    display: none;
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    background-color: #b3272e88;
    background-repeat: no-repeat;

    background-position: left;
    z-index: 51;
}

.lb_close {
    color: black;
    font-size: 80px;
    font-weight: bold;

    text-decoration: none;
}

.lb_close:visited {
    color: black;
}

.lb_close:hover {
    opacity: 0.5; 
}

.lb-text {
    display: flex;
    color: white;
}

.lb-title {
    background-color: #E2231A;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

/* Footer */


#line {
    width: 350px;
    margin-top: 25px;
}

#c-w-con{
    text-align: center;
    margin-left: 30px;
    color: white;
}

.red-box {
    background-color: #B3272D;
    height: 260px;
    width: 280px;
    border-radius: 7px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.red-box p {
    font-size: 14px;
}

.red-box h3 {
    font-size: 18px;
}


.circle {
    border-radius: 50%;
    background-color: white;
    height: 104px;
    width: 104px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
}

#red-line {
    border: 3px solid #B3272D;
}

/* Media Queries */

@media screen and (min-width: 768px) {

    li:not(:last-child) {
        border-right: 2px solid #646469;
    }

    .menu-icon {
        display: none;
    }

    header{
        height: 76px;
    }

    .header-logo {
        max-width: 261px; 
    } 

    nav ul {
        display: block;
    }

    .nav-menu {
        display: inline-block;
        text-align: center;
    }

    #industry-title {
        height: 100px;
    }

    #map-mobile {
        display: none;
    }
    
    #map-desktop {
        display: flex;
    }

    #about-desc {
        padding-top: 45px;
        padding-bottom: 25px;
        padding-left: 33px;
        padding-right: 33px;
    }

    #feature-links {
        flex-direction: row;
        justify-content: space-evenly;
    }

    #client-title {
        font-size: 50px;
        line-height: 1.25;
    }

    #title-2024 {
        padding-top: 24px;
        padding-bottom: 24px;
        justify-content: left;
        padding-left: 50px;
    }

    #stu-por-list-con a {
        display: block;
        font-family: 30px;
    }

    #stu-examples-row-1, #stu-examples-row-2 {
        display: flex;
    }

    .show-w-btn {
        display: none;
    }

    #portfolio-h3 {
        text-align: left;
        padding-left: 120px;
    }

    #work-h3 {
        text-align: right;
        padding-right: 120px;
    }

    #year-selector {
        display: flex;
    }

    /* ins*/
    #ins-img{
        width: 552px;
        height: 314px;
        margin-top: 20px;
    }

    #night-des {
        text-align: center;
        margin-top: -170px;
        margin-bottom: 30px;
        font-size: 24px;
    }
    
    #night-time-box {
        height: 205px;
        width: 485px;
        margin-top: 40px;
    }
    #night-time-box p {
        line-height: 22px; 
        margin-top: 45px;
    }

    #show-btn {
        width: 344px;
        text-align: center;
        padding: 15px 0;
        margin-top: 20px;
    }

    #home-map {
        width: 552px;
        height: 340px;
        margin-top: -270px;
    }
    
    #about-con {
        width: 552px;
        height: 350px;
        background-color: grey;
        margin-top: 40px;
    }
    
    #about-des {
        padding-top: 20px;
        text-align: center;
        color: white;
    }

    #learn-box {
        height: 356px;
        width: 485px;
        margin-top: -370px;
    }

    #lea-btn {
        width: 358px;
        height: 55px;
        font-size: 25px; 
        padding-top: 15px;
    }

    #c-w-con{
        margin-left: 30px;
        
    }
    
    .red-box {
        background-color: #B3272D;
        height: 260px;
        width: 280px;
        border-radius: 7px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .red-box p {
        font-size: 14px;
    }

    .red-box h3 {
        font-size: 18px;
    }


    footer nav {
        margin-top: 20px;
    }

    footer img {
        width: 150px;
        height: 120px;
        margin-top: 30px;
    }
}
