/* 1. General Styles */

.hidden {
    display: none;
}

/* 2. Index */

body {
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
    max-width: 1400px;
}

a {
    text-decoration: none;
}

/* style header */
header{
    height: 70px;
    background-color: grey;
    display: grid;
}
#header-logo {
    width: 150px;
    margin-top: 15px;
}

nav ul {margin-top: 30px;}
nav ul li {
    display: inline;
    margin-left: 10px;
    
}
nav ul li a {font-size: 22px; color: #E2231A; display: none;}

#ham-menu img{
    width: 64px;
    margin-top: 5px;
}



#home-video {
    display: grid;
    background-color: aquamarine;
    height: 378px;
    color: white;
}

#ins-container {

}

#tittle-container {
    height: 100px;
    background-color: #E2231A;
    margin-top: 20px;
    margin-bottom: 20px;
}

#ins-tittle {
    color: white;
    text-align: center;
    margin-top: 35px;
    font-size: 32px;
}


#ins-img{
    height: 314px;
    background-color: black;
}

#night-des {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#night-time-box {
    background-color: #B3272D;
    height: 148px;
    border-radius: 7px;
}
#night-time-box p {
    color: white; 
    line-height: 20px; 
    text-align: left; 
    margin-top: 20px;
    margin-left: 30px;
}

/* show button */

#show-btn {
    border: 2px solid #E2231A;
    height: 44px;
    background-color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    border-radius: 7px;
}

#show-btn a {color: #E2231A;}

#home-map {
    height: 296px;
    background-color: rgb(55, 181, 26);
    margin-top: 25px;
}

#about-tittle {
   
}

#about-tittle{
    text-align: center;
    font-size: 30px;
    margin-top: 25px;
    color: white;
    background-color: #E2231A;
    height: 118px;
    border-radius: 7px;
    padding-top: 30px;
}

#about-tittle h2{

}

#about-des {
    height: 204px;
    background-color: grey;
    margin-top: 15px;
    padding: 30px 0;
    text-align: center;
    color: white;
}

#learn-box {
    height: 193px;
    background-color: antiquewhite;
    margin-top: 30px;
}

#lea-btn {
    text-align: center;
    margin-top: 20px;
}

#lea-btn {
    border: 3px solid #E2231A;
    background-color: white;
    width: 149px;
    height: 44px;
    border-radius: 7px;
    text-align: center;
    padding: 10px 0;
}

#lea-btn a {color: #E2231A;}

#line {
    width: 350px;
    margin-top: 25px;
}

#red-box {

}


.cricle {
    border-radius: 50%;
    background-color: white;
    height: 104px;
    width: 104px;
    margin-top: 40px;
    text-align: center;
}

#red-line {
    border: 3px solid #B3272D;
}

.cricle img { text-align: center; margin-top: 25px; margin-left: 10px;}

footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
footer img {
    width: 99px;
    height: 79px;
    
}
@media screen and (min-width: 768px) {
    #ham-menu img {display: none;}
    header{
        height: 76px;
        background-color: grey;
    }

    #header-logo {width: 210px; height: 60px; margin-left: 10px;} 

    nav ul li a{display: contents;}

    /* ins*/
    #ins-container {display: block}
    #ins-tittle {
        border-radius: 7px;
        width: 310px;
        height: 70px;
        font-size: 28px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #ins-tittle {margin-top: 35px; text-align: center;}
    #tittle-container p {
        margin-top: 50px;
    }

    #ins-img{
        width: 552px;
        height: 314px;
        margin-top: 20px;
    }

    #night-des {
        text-align: center;
        margin-top: -170px;
        margin-bottom: 30px;
        font-size: 24px;
    }
    
    #night-time-box {
        height: 205px;
        width: 485px;
        margin-top: 40px;
    }
    #night-time-box p {
        line-height: 22px; 
        margin-top: 45px;
    }

    #show-btn {
        width: 344px;
        text-align: center;
        padding: 15px 0;
        margin-top: 20px;
    }

    #home-map {
        width: 552px;
        height: 340px;
        background-color: rgb(55, 181, 26);
        margin-top: -270px;
    }




    #about-tittle {
        height: 100px;
        width: 973px;
        
    }
    
    #about-tittle h2{
        text-align: center;
        font-size: 36px;
        padding: 30px 0;
        margin-top: 5px;
    }
    
    
    #about-des {
        width: 552px;
        height: 299px;
        background-color: grey;
        margin-top: 30px;
        padding-top: 20px;
        text-align: center;
        color: white;
    }

    #learn-box {
        height: 356px;
        width: 485px;
        margin-top: -300px;
    }


    footer nav {
        margin-top: 20px;
    }

    footer img {
        width: 150px;
        height: 120px;
        margin-top: 30px;
    }
}
