/* 1. General Styles */


/* 2. Header */


/* 3. Index */
/* SHOW WORK BUTTON*/

/* softwate icons */


/* hidde checkout pargraph */
#box-1 {margin-left: 40px;}

.red-line {
    color: #B3272D;
    height: 6px;
    background-color: #B3272D;
    margin-top: 90px;
}


@media screen and (min-width: 768px) {

    #header-logo {width: 210px; height: 60px; margin-left: 10px;} 

    nav ul li a{display: contents;}


    #stu-work-img {
        height: 383px;
      }

    #stu-work {
        margin-bottom: 30px;
      }
      /* show the pargraph */
    #check-out {
        font-size: 25px;
        text-align: center;
        display: contents;
        }
    /* students work exmaples row-01 */
    #stu-examples-row-1 {
        margin-top: 30px;
    }

    #stu-examples-row-1 .box {
        margin-top: 15px;
    }

    #row-1-des {display: grid;}

    .box {
        height: 363px;
        background-color: aliceblue;
    }
    .stu-w-p-tittle {
        font-size: 36px;
        height: 100px;
        width: 973px;
    }

    /* adjust tittle of porti */

    

    


    footer nav {
        margin-top: 20px;
    }

    footer img {
        width: 150px;
        height: 120px;
        margin-top: 30px;
    }
}
